	body {
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #000;
		margin: 0;
		padding: 0;
		border: 1px solid black;
	}

	h1 {
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;
	}

	table th, table td {
		padding: 5px;
		border: 1px solid #000;
	}

	table th {
		background-color: #ccc;
		font-weight: bold;
		text-align: center;
	}

	table td {
		text-align: center;
	}

	hr {
		border: none;
		border-top: 1px solid black;
		margin: 0;
	}

	.header {
		position: relative;
		height: 80px;
		margin-bottom: 20px;
		margin-top: -20px; /* Agregamos un margen superior negativo */
	}

	.logo {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 150px;
		height: 150px;
	}

	.header-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
		color: #555;
	}

	.header-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 12px;
		color: #555;
	}

	.header-info {
		margin-top: 50px;
	}

	.comprobante,
	.fecha {
		font-weight: bold;
		margin: 0 20px;
	}

	.comprobante {
		margin-left: 0;
	}

	.datos-cliente {
		font-size: 12px;
		border-top: 1px solid #ccc; /* Agregamos un borde superior */
		margin-top: 20px;
	}

	.datos-cliente p {
		margin: 5px 0;
	}

	.detalle-factura {
		border-collapse: collapse;
		width: 100%;
		margin-top: 20px;
	}

	.detalle-factura th,
	.detalle-factura td {
		padding: 10px;
		border: 1px solid #ddd;
		text-align: left;
	}

	.detalle-factura th {
		background-color: #f2f2f2;
	}

	.detalle-factura td:last-child {
		text-align: right;
	}

	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4cm;
		background-color: #f7f7f7;
		font-size: 12px;
		color: #555;
		padding: 30px;
	}

	.footer table {
		width: 100%;
	}

	.footer th {
		text-align: left;
		width: 50%;
	}

	.footer td {
		text-align: right;
		width: 50%;
	}

	/* Estilo para los datos adicionales */
	.datos-adicionales-footer {
		font-size: 10px;
		text-align: right;
		margin-top: 10px;
	}
