@page {
  size: A4;
  margin: 2cm;
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

h1 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 5px;
  border: 1px solid #000;
}

table th {
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
}

table td {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
}

/*.header {
    position: relative;
    height: 80px;
    margin: 1cm;
}*/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 1cm;
}

/*.header-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: #555;
}*/

.header-left {
  position: absolute;
  left: 0;
  width: 35%;
  height: 100%;
  font-size: 12px;
  color: #555;
}

/*.header-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #555;
}*/

.header-right {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  font-size: 12px;
  color: #555;
}

.header-info {
  margin-top: 50px;
}

.comprobante,
.fecha {
  font-weight: bold;
  margin: 0 20px;
}

.comprobante {
  margin-left: 0;
}

.datos-cliente {
  font-size: 12px;
  border-top: 1px solid black; /* Agregamos un borde superior */
  margin-top: 20px;
}

.datos-cliente p {
  margin: 5px 0;
  margin-left: 5px;
}

.detalle-factura {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  color: #555;
}

.detalle-factura th {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.detalle-factura td {
  font-size: 12px;
  color: #000;
  text-align: left;
}

.detalle-factura td:nth-child(1) {
  text-align: center;
}

.detalle-factura td:nth-child(3),
.detalle-factura td:nth-child(4) {
  text-align: right;
}

.detalle-factura th:nth-child(1),
.detalle-factura th:nth-child(4),
.detalle-factura td:nth-child(1),
.detalle-factura td:nth-child(4) {
  border-left: none;
  border-right: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4cm;
  /*background-color: #f7f7f7;*/
  font-size: 12px;
  color: #555;
  padding: 30px;
}

.footer table {
  width: 100%;
}

.footer th {
  text-align: left;
  width: 50%;
}

.footer td {
  text-align: right;
  width: 50%;
}

/* Estilo para los datos adicionales */
.datos-adicionales-footer {
  font-size: 10px;
  text-align: right;
  margin-top: 10px;
}